.myself{
    background-color: aqua;
    display: flex;
    
}
h1{
font-size: 70px;
}
.myname{
    color: orange;
}
.first{
    width: 50%;
    margin-left: 10%;
    font-size: 40px;
    padding-bottom: 20px;
}
#hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 30px;
    border-radius: 5px;

}
.first img{
    width: 100%
}
.experiences{
    background-color: khaki;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.second-part{
    display: flex;
}
.my-experiences{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.my-experiences img{
    width: 100%;
}
#book{
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    text-align: justify;
    font-size: 40px;
}
.services{
    display: flex;
    margin-top: 20px;
}
.all-services{
    width: 30%;
    margin-left: 10px;
}